<%== bullshit("Howdy") %>


<% @posts.each do |post| %>
    <header>
      <h2>
        <a href="/<%= post.id %>"><%= post.title %></a>
      </h2>

      <% if post.date_time %>
        <time datatime="<%= post.date_time.to_s %>">
          <a href="/<%= post.id %>">
            <%= post.date_time.to_s(:short_ordinal) %>
          </a>
        </time>
      <% end %>

      <% if post.author_name %>
        <h3 class="author">
          by <%= post.author_name %>
        </h3>
      <% end %>
    </header>

    <div class="grid-blog-entry">
      <%== post.render %>
    </div>
<% end %>

<% content_for :side_bar do %>
  sidebar
<% end %>

<% content_for :footer do %>
  footer
<% end %>

<% content_for :navigation_bar do %>
  <div class="pagination">
    <div class="wrap">
      <% if paginate_previous? %>
        <a class="button" href="<%= paginate_previous_url %>">
          <i class="fa fa-long-arrow-left"></i>
          Previous
        </a>
      <% end %>
  
      <% if paginate_next?(@posts) %>
        <a class="button" href="<%= paginate_next_url %>">
          Next
          <i class="fa fa-long-arrow-right"></i>
        </a>
      <% end %>
    </div>
  </div>
<% end %>